<!DOCTYPE html>
<html>
  <head>
    <title>Guest Lecture Maintenance V1</title>   
    <link rel = "icon" href = "https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" type = "image/x-icon"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <style>
        .divider:after,
        .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
        }
        .h-custom {
        height: calc(100% - 73px);
        }
        @media (max-width: 450px) {
        .h-custom {
        height: 100%;
        }
        }
    </style>
  </head>
  <body>
    <!-- login detail -->

    <section class="vh-100">
        <div class="container-fluid h-custom" style="background-color: hsl(0, 0%, 96%)">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-sm-12 col-md-12 col-xl-2"></div>
            <div class="col-sm-12 col-md-12 col-xl-4 text-center">
              <img src="https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" class="img-fluid" alt="Sample image">
                <h1>Guest Lecture</h1>
            </div>
            <div class="card col-sm-6 col-md-6 col-xl-4 shadow">
                <div class="card-body py-5 px-5">
                <form action="/Dashboard" method="post">    
                    <!-- Email input -->

                    <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" name="username" class="form-control form-control-lg" placeholder="Username" required>
                    </div>
        
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" name="password" class="form-control form-control-lg" placeholder="Password" required>
                    <!-- <label class="form-label" for="form3Example4">Password</label> -->
                    </div>
        
                    <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3">
                        <label class="form-check-label" for="form2Example3">
                        Remember me
                        </label>
                    </div>
                    <!-- <a href="#!" class="text-body">Forgot password?</a> -->
                    </div>
        
                    <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                        class="link-danger">Register</a></p> -->
                    </div>
                </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xl-2"></div>
          </div>
        </div>
    </section>

    <!-- footer page -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2023 Company, Inc</p>    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <img src="https://raw.githubusercontent.com/viveksai24/Guest_lecture_full_stack/main/images/logo_glm-removebg-preview.png" alt="Logo" width="60" height="48" class="d-inline-block align-text-top">
        </a>    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
          <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li> -->
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
      </footer>
    </div>

  </body>
</html>